.locked {
  overflow: hidden;
}

.content {
  max-width: 100%;
  overflow-x: hidden;
  width: 100%;
  color: #212121;

  .m-s-title {
    font-family: $fontM_SB;
    color: #2BBE00;
    text-transform: uppercase;
    padding: 2px;
    text-align: center;

    @media screen and (min-width: 1440px) {
      font-size: 28px;
    }
    @media screen and (max-width: 1439px) {
      font-size: 24px;
    }
    @media screen and (max-width: 1023px) {
      font-size: 20px;
      line-height: 40px;
    }
    @media screen and (max-width: 599px) {
      font-size: 12px;
      line-height: 16px;
    }
  }

  .header {
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 4px #0000000d;
    z-index: 2;
    @media screen and (min-width: 600px) {
      height: 90px;
    }
    @media screen and (max-width: 599px) {
      height: 56px;
    }

    .header-content {
      max-width: 1440px;
      margin: 0 auto;
      height: 100%;
      align-items: center;
      @media screen and (min-width: 1024px) {
        padding-left: 60px;
        padding-right: 35px;
      }
      @media screen and (max-width: 1023px) {
        padding-left: 50px;
        padding-right: 15px;
      }
      @media screen and (max-width: 1023px) {
        padding-left: 15px;
        padding-right: 0;
      }
      
      .logo-header {
        float: left;
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
  
        a {  
          img {
            margin: auto;
            @media screen and (min-width: 600px) {
              height: 40px;
              width: 200px;
            }
            @media screen and (max-width: 599px) {
              height: 30px;
              width: 137px;
            }        
          }
        }
      }
  
      .nav-links {
        display: flex;
        float: right;
        height: 100%;
        @media screen and (max-width: 1023px) {
          display: none;
        }
  
        p {
          margin: auto;
  
          a {
            color: black;
            margin: auto;
            height: auto;
            font-family: $fontR_R;
            font-size: 14px;
            line-height: 16px;
            color: #212121;
            @media screen and (min-width: 1440px) {
              padding: 8px 25px;
            }
            @media screen and (max-width: 1439px) {
              padding: 8px 15px;
            }
            &:hover, &:active {
              color: #09CD0A;
              text-decoration: underline;
            }
          }
  
          a.accent {
            color: #FF119D;
          }
        }      
      }

      .menu {
        height: 60px;
        width: 60px;
        float: right;
        align-items: center;
        justify-content: center;
        height: 100%;
        @media screen and (min-width: 1023px) {
          display: none;
        }
        @media screen and (max-width: 1023px) {
          display: flex;
        }
        img {
          box-shadow: 0px 9px 34px #05305f80;
        }
      }
    }
  }

  .custom-gateway {
    @media screen and (min-width: 1440px) {
      max-width: 1106px;
      margin: 58px auto 0;
      padding-bottom: 245px;
      display: flex;
    }
    @media screen and (max-width: 1439px) {
      max-width: 930px;
      margin: 26px auto 90px;
      display: flex;
    }
    @media screen and (max-width: 1023px) {
      margin: 9px auto 96px;
      text-align: center;
      display: block;
    }
    @media screen and (max-width: 599px) {
      margin: 23px auto 0;
      padding-bottom: 46px;
    }

    .bg-wrapper {
      @media screen and (min-width: 1440px) {
        max-width: 1368px;
        width: 100%;
        margin: 0 auto;
        max-height: 590px;
        left: 0;
        right: 0;
      }
      @media screen and (max-width: 1439px) {
        max-width: 69%;
        width: 100%;
        margin: 0 auto;
        max-height: 589px;
        left: 31%;
      }
      @media screen and (min-width: 1024px) {
        position: absolute;
        height: 100%;
      }
      @media screen and (max-width: 1023px) {
        height: 308px;
        max-width: inherit;
        left: 0;
      }
      @media screen and (max-width: 599px) {
        max-height: 258px;
      }

      .c-g-gradient-bg {
        position: absolute;
        z-index: -2;
        @media screen and (min-width: 1440px) {
          right: 0;
          height: 100%;
          left: 58%;
        }
        @media screen and (max-width: 1439px) {
          right: 0;
          height: 100%;
          left: 35%;
        }
        @media screen and (min-width: 1024px) {
          background: url("../../img/main-gradient.png") no-repeat;
        }
        @media screen and (max-width: 1023px) {
          height: 308px;
          width: 100%;
          max-width: 638px;
          left: 0;
          margin: auto;
          background: url("../../img/main-mini-bg.png") no-repeat center center;
        }
        @media screen and (max-width: 599px) {
          background: url("../../img/main-mini-bg.png") no-repeat center center;
          height: auto;
          margin: auto -20%;
          left: 0;
          right: 0;
          background-size: cover;
          height: 258px;
          width: 100%;
          left: 0;
          margin: auto;
        }
        
      }
      
      .c-g-notebook-bg {
        position: absolute;
        z-index: -1;
        height: 100%;
        @media screen and (min-width: 1440px) {
          right: 0;
          left: 32%;
          margin-top: 55px;
          max-height: 492px;
        }
        @media screen and (max-width: 1439px) {
          right: 0;
          left: 0;
          margin-top: 22px;
          max-height: 436px;
        }
        @media screen and (min-width: 1169px) {
          background-size: contain !important;
        }
        @media screen and (max-width: 1168px) {
          background-size: cover !important;
        }
        @media screen and (min-width: 1024px) {
          background: url("../../img/main-notebook.png") no-repeat;
        }
        @media screen and (max-width: 1023px) {
          background-size: contain !important;
        }
        @media screen and (max-width: 1023px) {
          height: 308px;
          width: 100%;
          max-width: 464px;
          left: 0;
          margin: 20px auto;
          background: url("../../img/main-mini-notebook.png") no-repeat;
        }
        @media screen and (max-width: 599px) {
          width: 90%;
          height: auto;
          max-height: 258px;
          min-height: 258px;
          max-width: 464px;
          left: 0;
          margin: auto;
          background: url("../../img/main-mini-notebook.png") no-repeat center center;
        }
      }
    }

    .text-area {
      @media screen and (min-width: 1440px) {
        max-width: 630px;
      }
      @media screen and (max-width: 1439px) {
        max-width: 510px;
      }
      @media screen and (max-width: 1023px) {
        max-width: 510px;
        width: 510px;
        margin: auto;
        text-align: center;
      }
      @media screen and (max-width: 599px) {
        max-width: 345px;
      }
      
      h2 {
        line-height: 68px;
        color: #212121;
        @media screen and (min-width: 1440px) {
          font-size: 54px;
          font-family: $fontM_B;
          padding: 32px 0;
        }
        @media screen and (max-width: 1439px) {
          font-size: 50px;
          font-family: $fontM_M;
          padding: 65px 0 32px;
        }
        @media screen and (max-width: 1023px) {
          font-size: 48px;
          padding: 15px 0 18px;
        }
        @media screen and (max-width: 599px) {
          font-size: 28px;
          padding: 15px 0 0;
          line-height: 57px;
        }
      }

      p {
        color: #212121;
        padding-bottom: 10px;
      }

      p.subheader {
        font-family: $fontM_M;
        @media screen and (min-width: 1440px) {
          line-height: 33px;
        }
        @media screen and (min-width: 1024px) {
          font-size: 24px;
          line-height: 32px;
        }
        @media screen and (max-width: 1023px) {
          font-size: 20px;
          line-height: 28px;
        }
        @media screen and (max-width: 599px) {
          font-size: 14px;
          line-height: 18px;
        }
      }

      p.text {
        font-family: $fontM_R;
        @media screen and (min-width: 1440px) {
          font-size: 22px;
          line-height: 33px;
        }
        @media screen and (max-width: 1439px) {
          font-size: 20px;
          line-height: 30px;
        }
        @media screen and (max-width: 1023px) {
          font-size: 14px;
          line-height: 20px;
        }
        @media screen and (max-width: 599px) {
          font-size: 12px;
          line-height: 19px;
        }
      }

      .submit-btn {
        @media screen and (min-width: 1440px) {
          padding-top: 61px;
        }
        @media screen and (max-width: 1439px) {
          padding-top: 77px;
        }
        @media screen and (max-width: 1023px) {
          padding-top: 27px;
        }

        button {
          background-image: linear-gradient(180deg, #0BBF50, #0BB095);
          border-radius: 34px;
          color: white;
          font-family: $fontR_R;
          line-height: 18px;
          box-shadow: 0 9px 34px #05305f52;
          @media screen and (min-width: 600px) {
            height: 60px;
            width: 235px;
            font-size: 18px;
          }
          @media screen and (max-width: 599px) {
            height: 50px;
            width: 195px;
            font-size: 16px;
          }
          &:hover {
            box-shadow: 0 6px 20px rgba(5, 48, 95, 0.45);
          }
          &:active {
            box-shadow: 0 4px 10px rgba(5, 48, 95, 0.45);
          }

          img {
            position: relative;
            left: 16px;
            @media screen and (min-width: 600px) {
              height: 16px;
              width: 16px;
            }
            @media screen and (max-width: 599px) {
              height: 14px;
              width: 14px;
            }
          }
        }
      }
    }
  }

  .how-it-works-bg, .merchant-crm-bg, .merchant-form-bg {
    height: 100%;
    max-height: 902px;
    width: 100%;
    right: 0;
    position: absolute;
    background: url("../../img/how-works-bg.png") no-repeat;
    background-size: contain;
    z-index: -1;
  }

  .how-it-works {
    margin: 0 auto 58px;
    @media screen and (min-width: 1440px) {
      max-width: 1106px;
    }
    @media screen and (max-width: 1439px) {
      max-width: 930px;
    }
    @media screen and (max-width: 1023px) {
      max-width: 510px;
    }
    @media screen and (max-width: 599px) {
      max-width: 347px;
    }

    .text-area {
      max-width: 915px;
      @media screen and (min-width: 1440px) {
        margin: 0 auto;
        padding-top: 2px;
      }
      @media screen and (max-width: 1439px) {
        margin: 0 auto;
        padding-top: 60px;
      }
      @media screen and (max-width: 1023px) {
        margin: 0 auto;
        padding-top: 0;
      }
      @media screen and (max-width: 599px) {
        margin: 0 auto;
        padding-top: 22px;
      }

      .m-s-title, .subheader, .text {
        text-align: center;
        margin: 8px 0;
      }
  
      .subheader {
        font-family: $fontM_M;  
        @media screen and (min-width: 1440px) {
          font-size: 28px;
          line-height: 34px;
        }
        @media screen and (max-width: 1439px) {
          font-size: 24px;
          line-height: 34px;
        }
        @media screen and (max-width: 1023px) {
          font-size: 20px;
          line-height: 28px;
        }
        @media screen and (max-width: 599px) {
          font-size: 14px;
          line-height: 19px;
        }
      }
  
      .text {
        font-family: $fontM_R;
        @media screen and (min-width: 1440px) {
          font-size: 24px;
          line-height: 34px;
        }
        @media screen and (max-width: 1439px) {
          font-size: 20px;
          line-height: 30px;
        }
        @media screen and (max-width: 1023px) {
          font-size: 14px;
          line-height: 20px;
        }
        @media screen and (max-width: 599px) {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }

    .slider {
      text-align: center;
      @media screen and (min-width: 1440px) {
        margin-top: 70px;
      }
      @media screen and (max-width: 1439px) {
        margin-top: 75px;
      }
      @media screen and (max-width: 1023px) {
        margin-top: 40px;
      }
      @media screen and (max-width: 599px) {
        margin-top: 22px;
      }

      .api-title {
        font-family: $fontM_B;
        text-align: center;
        margin-bottom: 10px;
        @media screen and (min-width: 1440px) {
          font-size: 28px;
          line-height: 34px;
        }
        @media screen and (max-width: 1439px) {
          font-size: 24px;
          line-height: 34px;
        }
        @media screen and (max-width: 1023px) {
          font-size: 18px;
          line-height: 34px;
        }
        @media screen and (max-width: 599px) {
          font-size: 12px;
          line-height: 20px;
        }
      }

      .api-subheader {
        font-family: $fontM_R;
        @media screen and (min-width: 1440px) {
          font-size: 24px;
          line-height: 34px;
          margin-bottom: 43px;
        }
        @media screen and (max-width: 1439px) {
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 51px;
        }
        @media screen and (max-width: 1023px) {
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 40px;
        }
        @media screen and (max-width: 599px) {
          font-size: 10px;
          line-height: 14px;
          margin-bottom: 27px;
        }
      }

      .api2-slide, .api3-slide {
        margin: auto;
        @media screen and (min-width: 1440px) {
          max-width: 814px;
        }
        @media screen and (max-width: 1439px) {
          max-width: 770px;
        }
        @media screen and (max-width: 1023px) {
          max-width: 510px;
        }
        @media screen and (max-width: 599px) {
          max-width: 347px;
        }

        .steps-screens {
          display: flex;
          margin-top: 36px;
          @media screen and (min-width: 1440px) {
            margin-top: 36px;
          }
          @media screen and (max-width: 1439px) {
            margin-top: 36px;
          }
          @media screen and (max-width: 1023px) {
            margin-top: 14px;
          }
          @media screen and (max-width: 599px) {
            margin-top: 11px;
          }

          .screen {
            @media screen and (min-width: 1440px) {
              width: 248px;
            }
            @media screen and (max-width: 1439px) {
              width: 248px;
            }
            @media screen and (max-width: 1023px) {
              width: 149px;
            }
            @media screen and (max-width: 599px) {
              width: 100px;
            }
          }
          .hr {
            width: 240%;
            min-width: 240px;
            max-width: 570px;
            height: 1px;
            background-color: #0D9BFF;
            margin: auto -65%;
          }

          .second {
            @media screen and (min-width: 1440px) {
              margin: 0 35px;
            }
            @media screen and (max-width: 1439px) {
              margin: 0 13px;
            }
            @media screen and (max-width: 1023px) {
              margin: 0 31px;
            }
            @media screen and (max-width: 599px) {
              margin: 0 22px;
            }
          }

          img {
            border-radius: 7px;
            box-shadow: 0 0 5px rgba(33, 43, 54, 0.15);
            @media screen and (min-width: 1440px) {
              width: 248px;
              height: 285px;
            }
            @media screen and (max-width: 1439px) {
              width: 248px;
              height: 285px;
            }
            @media screen and (max-width: 1023px) {
              width: 149px;
              height: 171px;
            }
            @media screen and (max-width: 599px) {
              width: 100px;
              height: 115px;
            }
          }

          .count {
            background-color: #0D9BFF;
            color: white;
            font-family: $fontR_B;
            text-align: center;
            margin: 27px auto 20px;
            @media screen and (min-width: 600px) {
              width: 38px;
              height: 38px;
              font-size: 24px;
              line-height: 38px;
              border-radius: 38px;
            }
            @media screen and (max-width: 599px) {
              width: 26px;
              height: 26px;
              font-size: 16px;
              line-height: 28px;
              border-radius: 26px;
            }
          }

          .text {
            color: #212B36;
            font-family: $fontR_R;
            text-align: center;
            @media screen and (min-width: 1440px) {
              max-width: 248px;
              font-size: 18px;
              line-height: 24px;
            }
            @media screen and (max-width: 1439px) {
              max-width: 248px;
              font-size: 18px;
              line-height: 24px;
            }
            @media screen and (max-width: 1023px) {
              max-width: 149px;
              font-size: 14px;
              line-height: 18px;
            }
            @media screen and (max-width: 599px) {
              max-width: 100px;
              font-size: 10px;
              line-height: 12px;
            }
          }
        }

        .api3-screen {
          .tablet-screen {
            box-shadow: 7px 8px 21px rgba(0, 0, 0, 0.2);
            border-radius: 36px;
            width: 100%;
          }
        }

        .disclaimer {
          font-family: $fontR_R;
          font-size: 12px;
          line-height: 14px;
          color: #6B7C89;
          width: 100%;
          text-align: right;
          margin: 14px auto;
        }
      }
    }
  }

  .integration {
    @media screen and (min-width: 1440px) {
      max-width: 915px;
      margin: 151px auto 130px;
    }
    @media screen and (max-width: 1439px) {
      max-width: 829px;
      margin: 97px auto;
    }
    @media screen and (max-width: 1023px) {
      max-width: 522px;
      margin: 72px auto 79px;
    }
    @media screen and (max-width: 599px) {
      max-width: 346px;
      margin: 58px auto 67px;
    }

    .text-area {
      margin: 0 auto;
      @media screen and (min-width: 1440px) {
        max-width: 915px;
      }
      @media screen and (max-width: 1439px) {
        max-width: 770px;
      }
      @media screen and (max-width: 1023px) {
        max-width: 510px;
      }
      @media screen and (max-width: 599px) {
        max-width: 338px;
      }

      .m-s-title, .subheader, .text {
        text-align: center;
        margin: 8px;
      }
  
      .subheader {
        font-family: $fontM_M;
        @media screen and (min-width: 1440px) {
          font-size: 28px;
          line-height: 34px;
        }
        @media screen and (max-width: 1439px) {
          font-size: 24px;
          line-height: 34px;
        }
        @media screen and (max-width: 1023px) {
          font-size: 20px;
          line-height: 28px;
        }
        @media screen and (max-width: 599px) {
          font-size: 14px;
          line-height: 19px;
          margin: 15px auto 6px;
        }
      }
  
      .text {
        font-family: $fontM_R;
        @media screen and (min-width: 1440px) {
          font-size: 24px;
          line-height: 34px;
        }
        @media screen and (max-width: 1439px) {
          font-size: 20px;
          line-height: 30px;
        }
        @media screen and (max-width: 1023px) {
          font-size: 14px;
          line-height: 20px;
          margin: 10px auto;
        }
        @media screen and (max-width: 599px) {
          font-size: 12px;
          line-height: 18px;
          margin: 6px auto;
        }
      }
    }

    .provide {
      @media screen and (min-width: 1440px) {
        max-width: 915px;
        margin: 100px auto 0;
      }
      @media screen and (max-width: 1439px) {
        max-width: 829px;
        margin: 87px auto 0;
      }
      @media screen and (max-width: 1023px) {
        max-width: 522px;
        margin: 78px auto 0;
      }
      @media screen and (max-width: 599px) {
        max-width: 346px;
        margin: 36px auto 0;
      }

      p {
        font-family: $fontR_B;
        text-align: center;
        text-transform: uppercase;
        @media screen and (min-width: 1024px) {
          font-size: 24px;
          line-height: 20px;
        }
        @media screen and (max-width: 1023px) {
          font-size: 20px;
          line-height: 20px;
        }
        @media screen and (max-width: 599px) {
          font-size: 12px;
          line-height: 16px;
        }
      }

      .cards {
        display: flex;
        @media screen and (min-width: 1440px) {
          margin: 41px auto;
        }
        @media screen and (max-width: 1439px) {
          margin: 41px auto;
        }
        @media screen and (max-width: 1023px) {
          margin: 31px auto;
        }
        @media screen and (max-width: 599px) {
          margin: 18px auto;
        }

        .support, .testing, .api {
          
          background-color:black;
          color: white;
          text-align: center;
          box-shadow: 0 0 16px rgb(166, 183, 196);
          @media screen and (min-width: 1024px) {
            width: 249px;
            height: 249px;
            border-radius: 30px;
          }
          @media screen and (max-width: 1023px) {
            width: 157px;
            height: 157px;
            border-radius: 18px;
          }
          @media screen and (max-width: 599px) {
            width: 104px;
            height: 104px;
            border-radius: 12px;
          }

          .card-icon {
            @media screen and (min-width: 1024px) {
              width: 72px;
              height: 72px;
              margin: 44px auto 29px;
            }
            @media screen and (max-width: 1023px) {
              width: 44px;
              height: 44px;
              margin: 29px auto 20px;
            }
            @media screen and (max-width: 599px) {
              width: 28px;
              height: 28px;
              margin: 18px auto 20px;
            }

            img {
              width: 100%;
              height: 100%;
            }
          }

          p {
            font-family: $fontR_M;
            text-transform: none;
            margin: 0 auto;
            @media screen and (min-width: 1024px) {
              font-size: 24px;
              line-height: 32px;
              width: 163px;
            }
            @media screen and (max-width: 1023px) {
              font-size: 15px;
              line-height: 20px;
              width: 103px;
            }
            @media screen and (max-width: 599px) {
              font-size: 10px;
              line-height: 12px;
              width: 68px;
            }
          }
        }

        .support {
          background-color: #2BBE00;
        }

        .testing {
          background-color: #0D9BFF;
          @media screen and (min-width: 1440px) {
            margin: 0 84px;
          }
          @media screen and (max-width: 1439px) {
            margin: 0 41px;
          }
          @media screen and (max-width: 1023px) {
            margin: 0 25px;
          }
          @media screen and (max-width: 599px) {
            margin: 0 16px;
          }
        }

        .api {
          background-color: #FF119D;
        }
      }
    }
  }

  .merchant-crm {
    width: 100%;
    @media screen and (min-width: 1440px) {
      margin: 136px auto 192px;
    }
    @media screen and (max-width: 1439px) {
      margin: 97px auto 168px;
    }
    @media screen and (max-width: 1023px) {
      margin: 79px auto 96px;
    }
    @media screen and (max-width: 599px) {
      margin: 58px auto 35px;
    }

    .m-s-title {
      margin: auto;
      padding-top: 2px;
    }

    .merchant-crm-content {
      width: 100%;
      @media screen and (min-width: 1024px) {
        display: flex;
      }

      .merchant-notebook {
        background: url(../../img/merchant-crm.png) no-repeat;
        background-size: cover;
        @media screen and (min-width: 1024px) {
          max-height: 584px;
          margin-top: 131px;
          height: -webkit-fill-available;
          max-width: 1027px;
          right: 0;
          width: 59%;
          position: absolute;
          background-size: cover;
          z-index: -1;
        }
        @media screen and (max-width: 1023px) {
          max-height: 232px;
          margin: 39px auto 15px;
          max-width: 408px;
          min-width: 408px;
          min-height: 232px;
          background-size: cover;
        }
        @media screen and (max-width: 599px) {
          max-height: 190px;
          margin: 21px auto 15px;
          max-width: 334px;
          min-width: 334px;
          min-height: 190px;
        }
      }

      .merchant-crm-bg {
        z-index: -2;
        @media screen and (min-width: 1024px) {
          margin-top: -52px;
        }
        @media screen and (max-width: 1023px) {
          right: 0;
          position: absolute;
          background: url("../../img/how-works-bg.png") no-repeat;
          background-size: cover;
          height: 552px;
          width: 100%;
          left: 0;
          margin: -365px auto auto;
        }
        @media screen and (max-width: 599px) {
          background: url("../../img/how-works-bg.png") no-repeat center;
          background-size: cover;
          height: 552px;
          width: 100%;
          left: 0;
          margin: -265px auto auto;
        }
      }

      .text-block {
        margin: 0 auto;
        width: 100%;
        @media screen and (min-width: 1440px) {
          max-width: 1106px;
        }
        @media screen and (max-width: 1439px) {
          max-width: 930px;
        }
        @media screen and (max-width: 1023px) {
          max-width: 454px;
        }
        @media screen and (max-width: 599px) {
          max-width: 346px;
        }

        .about-merchant {
          max-width: 100%;
          text-align: left;
          @media screen and (min-width: 1024px) {
            margin-top: 52px;
          }
          @media screen and (max-width: 1023px) {
            margin-top: 24px;
          }
          @media screen and (max-width: 599px) {
            margin-top: 19px;
          }

          .couple-icons {
            @media screen and (max-width: 1023px) {
              display: flex;
            }
          }
          
          .info-block-with-ic {
            align-items: center;
            @media screen and (min-width: 1024px) {
              width: 422px;
              margin-bottom: 18px;
              display: flex;
            }
            @media screen and (max-width: 1023px) {
              width: 212px;
              margin: 15px 17px;
              text-align: center;
            }
            @media screen and (max-width: 599px) {
              width: 162px;
              margin-bottom: 11px 28px;
            }

            .icon {
              display: flex;
              align-items: center;
              justify-content: center;
              @media screen and (min-width: 1023px) {
                width: 80px;
                min-width: 80px;
                height: 80px;
              }
              @media screen and (max-width: 1023px) {
                margin: auto;
                width: 63px;
                min-width: 63px;
                height: 63px;
              }
              @media screen and (max-width: 599px) {
                width: 48px;
                min-width: 48px;
                height: 48px;
              }

              img {
                max-width: 100%;
                max-height: 100%;
              }
            }
  
            .text-about {
              font-family: $fontR_M;
              @media screen and (min-width: 1024px) {
                font-size: 22px;
                line-height: 28px;
                padding-left: 15px;
              }
              @media screen and (max-width: 1023px) {
                font-size: 18px;
                line-height: 24px;
                padding-top: 6px;
              }
              @media screen and (max-width: 599px) {
                font-size: 14px;
                line-height: 16px;
                padding-top: 5px;
              }

              p {
                @media screen and (max-width: 1023px) {
                  display: flex;
                  flex-flow: wrap;
                }
              }
  
              .upcoming {
                font-family: $fontR_B;
                color: white;
                background-color: #FF119D;
                @media screen and (min-width: 1024px) {
                  font-size: 14px;
                  line-height: 20px;
                  padding: 3px 14px 4px;
                  border-radius: 10px;
                  min-width: 102px;
                  min-height: 26px;
                  margin-right: 10px;
                }
                @media screen and (max-width: 1023px) {
                  font-size: 10px;
                  line-height: 14px;
                  padding: 2px 10px;
                  border-radius: 6px;
                  min-width: 70px;
                  min-height: 18px;
                  order: 1;
                  margin: 4px auto;
                }
              }
            }
          }
        }
      }
    }
  }

  .letknow-app {
    background-color: #0D9BFF;
    width: 100%;
    display: flex;

    .text-area {
      margin: auto;
      z-index: 1;
      width: 100%;
      @media screen and (min-width: 1440px) {
        max-width: 962px;
        padding: 58px 0 48px;
      }
      @media screen and (max-width: 1439px) {
        max-width: 930px;
        padding: 56px 0 48px;
      }
      @media screen and (max-width: 1023px) {
        max-width: 510px;
        padding: 26px 0 33px;
      }
      @media screen and (max-width: 599px) {
        max-width: 343px;
        padding: 28px 0 37px;
      }

      .text {
        color: white;
        font-family: $fontM_M;
        @media screen and (min-width: 1440px) {
          font-size: 32px;
          line-height: 42px;
          max-width: 486px;
          margin-left: auto;
          padding: 0;
          text-align: left;
        }
        @media screen and (max-width: 1439px) {
          font-size: 28px;
          line-height: 36px;
          max-width: 486px;
          margin-left: auto;
          padding: 0 58px;
          text-align: left;
        }
        @media screen and (max-width: 1023px) {
          font-size: 18px;
          line-height: 24px;
          max-width: 240px;
          margin-left: auto;
          padding: 0;
          text-align: center;
        }
        @media screen and (max-width: 599px) {
          font-size: 14px;
          line-height: 19px;
          max-width: 192px;
          margin-left: auto;
          padding: 0;
          text-align: left;
        }
        
        .semibold {
          font-family: $fontM_SB;
        }
      }

      .buttons {
        color: #212B36;
        margin-left: auto;
        @media screen and (min-width: 1440px) {
          margin-top: 35px;
          max-width: 486px;
          margin-left: auto;
        }
        @media screen and (max-width: 1439px) {
          margin-top: 35px;
          max-width: 486px;
          margin-left: auto;
        }
        @media screen and (min-width: 1024px) {
          display: flex;
        }
        @media screen and (max-width: 1023px) {
          margin-top: 11px;
          max-width: 240px;
          margin-left: auto;
        }
        @media screen and (max-width: 599px) {
          margin-top: 24px;
          max-width: 192px;
          margin-left: auto;
        }

        button {
          background-color: #F7FAFC;
          box-shadow: 0 9px 34px rgba(5, 48, 95, 0.32);
          font-family: $fontR_R;
          @media screen and (min-width: 1024px) {
            width: 230px;
            height: 44px;
            margin-right: 26px;
            font-size: 16px;
            line-height: 12px;
            border-radius: 22px;
          }
          @media screen and (max-width: 1023px) {
            width: 138px;
            height: 26px;
            margin: 13px 51px 0;
            font-size: 9px;
            line-height: 9px;
            border-radius: 13px;
          }
          @media screen and (max-width: 599px) {
            margin-top: 13px;
          }
          &:hover {
            background-color: #0064AA;
            color: white !important;
          }

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
              color: white !important;
            }
            &:visited {
              color: #212B36;
            }
            .logo {
              padding-right: 10px;
              @media screen and (max-width: 1023px) {
                padding-right: 6px;
              }
              img {
                @media screen and (max-width: 1023px) {
                  width: 9px;
                  height: 10px;
                }
              }
            }
          }
        }
      }
    }

    .letknow-app-bg {
      background: url("../../img/img-phone.png") no-repeat;
      position: absolute;
      @media screen and (min-width: 1440px) {
        margin-top: -280px;
        height: 800px;
        width: 830px;
        left: -2%;
        background-size: cover;
      }
      @media screen and (max-width: 1439px) {
        margin-top: -151px;
        height: 492px;
        width: 636px;
        background-size: contain;
        margin-left: 9px;
      }
      @media screen and (max-width: 1023px) {
        margin-top: -132px;
        height: 368px;
        width: 385px;
        background-size: contain;
        margin-left: -9px;
      }
      @media screen and (max-width: 599px) {
        margin-top: 6px;
        height: 242px;
        width: 253px;
        background-size: contain;
        margin-left: -14px;
      }
    }
  }

  .fees-and-limits {
    width: 100%;
    height: 100%;
    background-color: white;
    @media screen and (min-width: 1440px) {
      padding: 136px 0 50px;
    }
    @media screen and (max-width: 1439px) {
      padding: 65px 0 93px;
    }
    @media screen and (max-width: 1023px) {
      padding: 41px 0 45px;
    }
    @media screen and (max-width: 599px) {
      padding: 36px 0;
    }

    .fees-and-limits-content {
      margin: auto;
      height: 100%;
      @media screen and (min-width: 1440px) {
        max-width: 1106px;
        display: flex;
      }
      @media screen and (max-width: 1439px) {
        max-width: 930px;
        display: flex;
      }
      @media screen and (max-width: 1023px) {
        max-width: 510px;
        display: block;
      }
      @media screen and (max-width: 599px) {
        max-width: 345px;
      }

      .m-s-title {
        text-align: left;
      }

      .fees {
        height: 100%;
        @media screen and (min-width: 1440px) {
          width: 442px;
          margin-right: 224px;
        }
        @media screen and (max-width: 1439px) {
          width: 400px;
          margin-right: 80px;
        }
        @media screen and (max-width: 1023px) {
          width: 441px;
          margin: auto;
        }
        @media screen and (max-width: 599px) {
          width: 345px;
          margin: auto;
        }

        .m-s-title {
          @media screen and (max-width: 1023px) {
            text-align: center;
          }
          @media screen and (min-width: 600px) {
            margin-bottom: 52px;
          }
          @media screen and (max-width: 599px) {
            margin-bottom: 19px;
          }
        }

        .fees {
          .fee {
            display: flex;
            border-bottom: 1px solid #979797;
            align-items: center;
            width: 100%;
            @media screen and (min-width: 600px) {
              margin-bottom: 21px;
              padding-bottom: 8px;
            }
            @media screen and (max-width: 599px) {
              margin-bottom: 15px;
              padding-bottom: 5px;
            }

            .fee-title {
              font-family: $fontR_M;
              color: #0D9BFF;
              text-transform: uppercase;
              @media screen and (min-width: 600px) {
                font-size: 18px;
                line-height: 18px;
              }
              @media screen and (max-width: 599px) {
                font-size: 14px;
                line-height: 14px;
              }
            }

            .count {
              font-family: $fontM_M;
              color: #212B36;
              margin-left: auto;
              @media screen and (min-width: 600px) {
                font-size: 32px;
                line-height: 32px;
              }
              @media screen and (max-width: 599px) {
                font-size: 25px;
                line-height: 25px;
              }
              .procent {
                color: #6B7C89;
              }
            }
          }
        }

        .table {
          background-color: white;
          width: 100%;
          box-shadow: 0 0 16px #A6B7C4;
          text-align: center;
          @media screen and (min-width: 600px) {
            height: 262px;
            margin-top: 44px;
            border-radius: 30px;
          }
          @media screen and (max-width: 599px) {
            height: 205px;
            margin-top: 33px;
            border-radius: 23px;
          }

          .title {
            color: #FF119D;
            font-family: $fontR_M;
            @media screen and (min-width: 600px) {
              font-size: 18px;
              line-height: 18px;
              padding: 36px 0;
            }
            @media screen and (max-width: 599px) {
              font-size: 14px;
              line-height: 14px;
              padding: 28px 0 44px;
            }

            img {
              vertical-align: super;
            }
          }

          .fee {
            @media screen and (min-width: 600px) {
              padding: 0 32px 8px;
            }
            @media screen and (max-width: 599px) {
              padding: 0 25px 5px;
              margin-bottom: 10px;
            }
          }

          .fee-title.grey {
            color: #6B7C89;
          }

          .without-border {
            border: none;
          }
        }

        .disclaimer {
          font-family: $fontR_R;
          font-size: 12px;
          line-height: 14px;
          color: #6B7C89;
          max-width: 370px;
          text-align: right;
          margin-left: 70px;
          margin-top: 16px;

          img {
            vertical-align: super;
          }
        }
      }
  
      .limits {
        width: 100%;  
        height: 100%;
        @media screen and (min-width: 1440px) {
          max-width: 440px;
        }
        @media screen and (max-width: 1439px) {
          max-width: 450px;
        }
        @media screen and (max-width: 1023px) {
          max-width: 510px;
          text-align: center;
        }
        @media screen and (max-width: 599px) {
          max-width: 345px;
        }

        .m-s-title {
          @media screen and (max-width: 1023px) {
            text-align: center;
            margin-top: 41px;
          }
          @media screen and (min-width: 600px) {
            margin-bottom: 48px;
          }
          @media screen and (max-width: 599px) {
            margin-top: 36px;
            margin-bottom: 32px;
          }
        }

        .limit {
          margin: 40px auto 0;
          
          .amount {
            font-family: $fontM_B;
            color: #212B36;
            @media screen and (min-width: 600px) {
              font-size: 28px;
              line-height: 22px;
              margin-bottom: 14px;
            }
            @media screen and (max-width: 599px) {
              font-size: 18px;
              line-height: 15px;
              margin-bottom: 9px;
            }

            .period {
              font-family: $fontM_M;
              color: #6B7C89;
              text-transform: uppercase;
              @media screen and (max-width: 599px) {
                font-size: 13px;
                line-height: 15px;
              }
            }
          }

          .description {
            font-family: $fontR_R;
            color: #212B36;
            @media screen and (min-width: 600px) {
              font-size: 18px;
              line-height: 22px;
            }
            @media screen and (max-width: 599px) {
              font-size: 12px;
              line-height: 15px;
            }

            .medium {
              font-family: $fontR_M;
            }
          }
        }
      }
    }
  }

  .settlements {
    @media screen and (min-width: 1440px) {
      max-width: 1106px;
      margin: 50px auto 78px;
      display: flex;
    }
    @media screen and (max-width: 1439px) {
      max-width: 919px;
      padding: 58px 0 77px;
      display: flex;
      margin: 0 auto;
    }
    @media screen and (max-width: 1023px) {
      max-width: 450px;
      padding: 46px 0 60px;
      display: block;
    }
    @media screen and (max-width: 599px) {
      max-width: 345px;
      padding: 37px 0 50px;
    }

    .text-block {
      @media screen and (min-width: 1440px) {
        max-width: 535px;
        margin-right: 69px;
        font-size: 24px;
        line-height: 34px;
        font-family: $fontM_M;
      }
      @media screen and (max-width: 1439px) {
        max-width: 535px;
        margin-right: 69px;
        font-size: 20px;
        line-height: 30px;
        font-family: $fontM_R;
      }
      @media screen and (max-width: 1023px) {
        width: 450px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
      }
      @media screen and (max-width: 599px) {
        width: 345px;
        max-width: 100%;
        font-size: 12px;
        line-height: 18px;
      }

      .m-s-title {
        @media screen and (min-width: 1024px) {
          text-align: left;
          margin-bottom: 23px;
        }
        @media screen and (max-width: 1023px) {
          margin-bottom: 0px;
        }
        @media screen and (max-width: 599px) {
          margin-bottom: 15px;
        }
      }
    }

    .schemes {
      max-width: 501px;
      display: flex;
      @media screen and (max-width: 1023px) {
        margin: 27px;
      }
      @media screen and (max-width: 599px) {
        margin: 33px auto 0;
        width: 318px;
      }

      .crypto-crypto, .crypto-fiat {
        justify-content: center;
        @media screen and (min-width: 1440px) {
          width: 218px;
          height: 185px;
        }
        @media screen and (max-width: 1439px) {
          width: 192px;
          height: 186px;
        }
        @media screen and (max-width: 1023px) {
          width: 164px;
          height: 188px;
        }
        @media screen and (max-width: 599px) {
          width: 110px;
          height: 146px;
          margin: auto;
        }

        .figures {
          position: relative;
          margin: auto;
          @media screen and (min-width: 600px) {
            height: 127px;
            width: 139px;
          }
          @media screen and (max-width: 599px) {
            width: 107px;
            height: 98px;
          }

          .figure {
            position: absolute;
            @media screen and (min-width: 600px) {
              width: 100px;
              height: 100px;
            }
            @media screen and (max-width: 599px) {
              width: 77px;
              height: 77px;
            }
          }
    
          .circle {
            border-radius: 100px;
          }
    
          .rectangle {
            border-radius: 26px;
          }
    
          .blue {
            background-color: #0D9BFF;
          }
    
          .green {
            background-color: #09CD0A;
          }
    
          .orange {
            background-color: #F5A623;
          }
    
          .shadow {
            box-shadow: 2px 2px 12px rgba(33, 43, 54, 0.5);
          }  
        }
        
        .text {
          font-family: $fontR_M;
          color: #212B36;
          text-align: center;
          margin-top: 28px;
          @media screen and (min-width: 1440px) {
            font-size: 32px;
            line-height: 30px;
          }
          @media screen and (max-width: 1439px) {
            font-size: 28px;
            line-height: 30px;
          }
          @media screen and (max-width: 1023px) {
            font-size: 24px;
            line-height: 30px;
          }
          @media screen and (max-width: 599px) {
            font-size: 16px;
            line-height: 23px;
          }
          
          .grey {
            color: #6B7C89;
          }
        }
      }
  
      .crypto-crypto {
        margin-right: 66px;
  
        .figures {
          .blue {
            top: 0;
            left: 0;
          }
  
          .orange {
            right: 0;
            bottom: 0;
          }
        }
      }
  
      .crypto-fiat {
        .figures {
          .blue {
            top: 0;
            right: 4px;
          }
  
          .green {
            left: 4px;
            bottom: 0;
          }
        }
      }
    }
  }

  .currencies-supported {
    width: 100%;
    margin: auto;
    background-color: #212B36;

    .content {
      margin: auto;
      @media screen and (min-width: 1024px) {
        max-width: 917px;
        padding: 64px 0;
      }
      @media screen and (max-width: 1023px) {
        max-width: 505px;
        padding: 22px 0 34px;
      }
      @media screen and (max-width: 599px) {
        max-width: 321px;
        padding: 14px 0 21px;
      }

      .currencies {
        @media screen and (min-width: 1024px) {
          margin: 40px auto 0;
        }
        @media screen and (max-width: 1023px) {
          margin: 17px auto 0;
        }
        @media screen and (max-width: 599px) {
          margin: 21px auto 0;
        }

        .string {
          display: flex;
          justify-content: center;
          align-items: center;
          
          @media screen and (min-width: 1024px) {
            margin: 32px 0;
            margin-left: 22px;
          }
          @media screen and (max-width: 1023px) {
            margin: 17px 0;
            margin-left: 19px;
          }
          @media screen and (max-width: 599px) {
            margin: 11px 0;
            margin-left: 8px;
          }

          .currency {
            width: auto;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (min-width: 1024px) {
              margin-right: 22px;
            }
            @media screen and (max-width: 1023px) {
              margin-right: 19px;
            }
            @media screen and (max-width: 599px) {
              margin-right: 8px;
            }

              .icon {
                @media screen and (min-width: 1024px) {
                  width: 35px;
                  height: 35px;
                }
                @media screen and (max-width: 1023px) {
                  width: 19px;
                  height: 19px;
                }
                @media screen and (max-width: 599px) {
                  width: 12px;
                  height: 12px;
                }
              }
  
              .text {
                margin-left: 6px;
                color: white;
                font-family: $fontR_B;
                
                @media screen and (min-width: 1024px) {
                  font-size: 20px;
                  line-height: 28px;
                }
                @media screen and (max-width: 1023px) {
                  font-size: 11px;
                  line-height: 16px;
                }
                @media screen and (max-width: 599px) {
                  font-size: 7px;
                  line-height: 10px;
                }
              }
          }
        }
      }
    }
  }

  .merchant-form {
    @media screen and (min-width: 1440px) {
      max-width: 1106px;
      margin: 78px auto;
      height: 397px;
    }
    @media screen and (max-width: 1439px) {
      max-width: 930px;
      margin: 62px auto 105px;
      height: 397px;
    }
    @media screen and (max-width: 1023px) {
      max-width: 510px;
      margin: 46px auto;
      height: 558px;
    }
    @media screen and (max-width: 599px) {
      max-width: 100%;
      height: 350px;
      margin: 60px auto 57px;
    }

    .text-block {
      @media screen and (min-width: 1024px) {
        float: left;
      }
      
      .title {
        font-family: $fontM_M;
        color: #FF119D;
        @media screen and (min-width: 1024px) {
          font-size: 32px;
          line-height: 42px;
          max-width: 380px;
        }
        @media screen and (max-width: 1023px) {
          font-size: 24px;
          line-height: 32px;
          max-width: 320px;
          text-align: center;
          margin: 0 auto 16px;
        }
        @media screen and (max-width: 599px) {
          font-size: 16px;
          line-height: 22px;
          max-width: 344px;
          text-align: center;
          margin: 0 auto 8px;
        }
      }

      .text {
        margin-top: 24px;
        color: #000000;
        font-family: $fontM_R;
        @media screen and (min-width: 1440px) {
          font-size: 24px;
          line-height: 34px;
          max-width: 552px;
        }
        @media screen and (max-width: 1439px) {
          font-size: 20px;
          line-height: 30px;
          max-width: 450px;
        }
        @media screen and (max-width: 1023px) {
          font-size: 14px;
          line-height: 20px;
          max-width: 330px;
          text-align: center;
          margin: 0 auto;
          width: 100%;
        }
        @media screen and (max-width: 599px) {
          font-size: 12px;
          line-height: 18px;
          max-width: 344px;
          text-align: center;
          margin: 0 auto;
          width: 100%;
        }

        .email {
          color: #0D9BFF;

          a, a:visited {
            color: #0D9BFF;
          }
        }
      }
    }

    .form {
      background-color: white;
      border-radius: 15px;
      box-shadow: 0 18px 34px rgba(5, 48, 95, 0.32);
      @media screen and (min-width: 1440px) {
        width: 535px;
        height: 397px;
      }
      @media screen and (max-width: 1439px) {
        width: 450px;
        height: 397px;
      }
      @media screen and (min-width: 1024px) {
        float: right;
      }
      @media screen and (max-width: 1023px) {
        width: 510px;
        height: 397px;
        margin: 32px auto;
      }
      @media screen and (max-width: 599px) {
        max-width: 345px;
        width: 100%;
        height: 268px;
        margin: 16px auto;
      }

      form {
        text-align: center;
        @media screen and (min-width: 1440px) {
          padding: 24px 64px 32px;
        }
        @media screen and (max-width: 1439px) {
          padding: 24px 50px 32px;
        }
        @media screen and (max-width: 1023px) {
          padding: 24px 57px 32px;
        }
        @media screen and (max-width: 599px) {
          padding: 16px 38px 21px;
        }

        .m-s-title {
          padding: 0;
          @media screen and (min-width: 600px) {
            font-size: 20px;
            line-height: 40px;
          }
          @media screen and (max-width: 599px) {
            font-size: 13px;
            line-height: 27px;
          }
        }

        .subheader {
          font-family: $fontR_L;
          color: #6B7C89;
          margin-bottom: 8px;
          @media screen and (min-width: 600px) {
            font-size: 12px;
            line-height: 21px;
          }
          @media screen and (max-width: 599px) {
            font-size: 8px;
            line-height: 14px;
          }
        }

        input {
          width: 100%;
          border: 1px solid #C8CFD8;
          color: #8C9AA7;
          font-family: $fontSF_L;
          @media screen and (min-width: 600px) {
            height: 50px;
            border-radius: 8px;
            padding: 16px;
            font-size: 16px;
            line-height: 16px;
            margin: 6px auto;
          }
          @media screen and (max-width: 599px) {
            height: 33px;
            border-radius: 5px;
            padding: 10px;
            font-size: 10px;
            line-height: 11px;
            margin: 6px auto;
            max-width: 267px;
            width: 100%;
          }
        }

        button {
          color: white;
          box-shadow: 0 9px 34px rgba(5, 48, 95, 0.32);
          background-color: #09CD0A;
          font-family: $fontR_M;
          @media screen and (min-width: 1024px) {
            font-size: 14px;
            line-height: 22px;
            margin-top: 42px;
            width: 325px;
            height: 44px;
            border-radius: 22px;
          }
          @media screen and (max-width: 1023px) {
            font-size: 14px;
            line-height: 22px;
            margin-top: 48px;
            width: 309px;
            height: 44px;
            border-radius: 22px;
          }
          @media screen and (max-width: 599px) {
            font-size: 10px;
            line-height: 15px;
            margin-top: 18px;
            max-width: 210px;
            width: 100%;
            height: 30px;
            border-radius: 15px;
          }
        }
      }   
    }

    .merchant-form-bg {
      @media screen and (min-width: 1440px) {
        margin-top: -132px;
        left: -20%;
        transform: scale(-1, 1);
      }
      @media screen and (max-width: 1439px) {
        margin: -6% auto 0;
        background: url("../../img/how-works-bg.png") no-repeat center center;
        background-size: cover;
        height: 902px;
        position: absolute;
        right: -20%;
        left: -20%;
      }
      @media screen and (max-width: 1023px) {
        position: relative;
        height: 551px;
        padding: 0;
        top: 0;
        margin: -500px -46px 0;
        width: calc(100% + 92px);
        left: 0;
      }
      @media screen and (max-width: 599px) {
        height: 538px;
        padding: 0;
        top: 0;
        margin: -339px 0;
        width: 100%;
        left: 0;
      }
    }
  }

  .footer {
    width: 100%;
    height: 100%;
    border-top: 1px solid #D8D8D8;
    color: #595F63;

    .links-block-content {
      margin: 41px auto;
      @media screen and (min-width: 600px) {
        display: flex;
      }

      .sub-links-block {
        display: flex;
      }

      .links-block-title {
        font-family: $fontR_M;
        @media screen and (min-width: 1024px) {
          font-size: 16px;
          line-height: 19px;
        }
        @media screen and (max-width: 1023px) {
          font-size: 14px;
          line-height: 16px;
        }
        @media screen and (max-width: 599px) {
          font-size: 12px;
          line-height: 14px;
        }
      }

      .links {
        font-family: $fontR_R;
        @media screen and (min-width: 1024px) {
          width: 155px;
          font-size: 16px;
          line-height: 24px;
          margin-top: 28px;
        }
        @media screen and (max-width: 1023px) {
          width: 132px;
          font-size: 12px;
          line-height: 20px;
          margin-top: 12px;
        }
        @media screen and (max-width: 599px) {
          width: 114px;
          font-size: 10px;
          line-height: 18px;
          margin: 10px auto 16px;
        }

        a, a:visited {
          color: #595F63;
        }
      }
    }

    .copyright {
      font-family: $fontR_R;
      max-width: 1106px;
      margin: 64px auto 32px;
      @media screen and (min-width: 1024px) {
        font-size: 12px;
        line-height: 14px;
      }
      @media screen and (max-width: 1023px) {
        font-size: 12px;
        line-height: 14px;
      }
      @media screen and (max-width: 599px) {
        font-size: 10px;
        line-height: 13px;
        text-align: center;
      }
    }

    .links-block-content, .copyright {
      @media screen and (min-width: 1440px) {
        max-width: 1106px;
        width: 1106px;
      }
      @media screen and (max-width: 1439px) {
        max-width: 930px;
        width: 930px;
      }
      @media screen and (max-width: 1023px) {
        max-width: 510px;
        width: 510px;
      }
      @media screen and (max-width: 599px) {
        max-width: 345px;
        width: 345px;
      }
    }
  }
}

#mobile-menu {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #eef9ecf7;
  z-index: 3;
  display: none;
  margin: auto;
  text-align: center;
  font-family: $fontR_R;
  flex-direction: column;
  &.active {
    display: flex;
  }
  &.inactive {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    display: none !important;
  }

  .top {
    @media screen and (min-width: 600px) {
      height: 40px;
      margin: 24px 15px;
    }
    @media screen and (max-width: 599px) {
      height: 30px;
      margin: 12px 15px;
    }
   
    .logo {
      float: left;

      img {
        @media screen and (min-width: 600px) {
          height: 40px;
          width: 200px;
        }
        @media screen and (max-width: 599px) {
          height: 30px;
          width: 137px;
        }
      }
    }

    .icon-back {
      float: right;
      @media screen and (min-width: 600px) {
        margin: -8px -19px;
      }
      @media screen and (max-width: 599px) {
        margin: -12px -19px;
      }
    }
  }

  .mobile-menu-content {
    width: 244px;
    margin: auto;

    .category {
      margin: 30px 0;

      .category-title {
        color: #2BBE00;
        font-family: $fontM_SB;
        font-size: 13px;
        line-height: 27px;
        text-transform: uppercase;
      }

      .nav-link {
        font-size: 14px;
        line-height: 32px;

        a, a:visited {
          color: #212B36;
        }

        a:hover, a:active {
          color: #2BBE00;
        }
      }
    }
  }

  .bottom {
    width: 244px;
    margin: auto auto 0;

    .login {
      background-color: #FF119D;
      width: 195px;
      height: 50px;
      border-radius: 28px;
      box-shadow: 0 8px 29px #05305f52;
      font-size: 16px;
      margin: auto;
      margin-bottom: 43px;

      a, a:visited {
        color: white;
      }
    }

    .copyright {
      font-size: 14px;
      line-height: 22px;
      color: #6B7C89;
      margin: 30px auto;
    }
  }
}
